#sidebar #chat .chat-message {
	border-color: var(--player-color) !important;
	border-radius: 5px 5px 0 0;
    border-width: 0 0 0 3px;
    box-shadow: 0 0 5px black;
    margin: 0px 3px;
	margin-bottom: -0.5rem;
	padding-bottom: 1rem;
	position: relative;
	transition: box-shadow 0.2s ease-in-out, border-radius 0.2s ease-in-out;
}
#sidebar #chat .chat-message:last-child {
	border-radius: 5px;
}
#sidebar #chat .chat-message.message:hover {
	border-radius: 5px;
    box-shadow: 0 0 10px black;
    z-index: 1;
}
#sidebar #chat .chat-message header.message-header {
	border-bottom: 2px groove #FFF;
	margin-bottom: 0.25rem;
	padding-bottom: 0.25rem;
}
#sidebar #chat .chat-message header.message-header .message-sender {
	font-size: 0.8rem;
	font-weight: 600;
}
#sidebar #chat .chat-message header.message-header span.message-metadata {
	font-size: 0.6rem;
	opacity: 0.6;
}
/* DND5e Patch */
#sidebar #chat .chat-message .dnd5e.chat-card .card-header {
	border-top: 0px;
	padding-top: 0px;
}