#minimized-bar {
	background: var(--palette-app-background);
	border-color: var(--palette-app-background-dark);
	box-shadow: 0px 0px 10px var(--palette-dark);
}
.window-app.minimized .window-header {
	border-color: var(--palette-primary);
}
.minimized-pinned {
	background-color: var(--palette-deep-orange);
	color: var(--palette-deep--orange-contrast-text);
}