<form id="libThemerDialog" action="#">
	<nav>
		<ul>
			{{#each themes}}
				<li data-sort="{{@key}}">
					<a class="lib-themer-dialog-link" data-load="{{@key}}">{{localize title}}</a>
				</li>
			{{/each}}
		</ul>
	</nav>
	<main>
		<h2 class="lib-themer-dialog-title">INSERT TITLE HERE</h2>
		<div class="lib-themer-dialog-content"></div>
		<footer class="sheet-footer flexrow">
			<button type="submit" name="submit"><i class="far fa-save"></i> {{localize 'SETTINGS.Save'}}</button>
		</footer>
	</main>
</form>