#module-management .disable-all-modules {
	background-color: var(--palette-danger);
	border-color: var(--palette-danger-dark);
	color: var(--palette-danger-contrast-text);
}
#module-management .enable-all-modules {
	background-color: var(--palette-success);
	border-color: var(--palette-success-dark);
	color: var(--palette-success-contrast-text);
}
#settings {
	padding: 0rem;
}
#settings h2 {
	margin: 0.5rem 0rem;
	padding: 0.5rem 1rem;
}
#settings h2 + div {
	margin: 0rem;
	padding: 0rem 0.75rem;
}

#settings button {
    border-radius: 0px;
    border-top: 0px;
	margin-bottom: 0px;
}

#settings button:first-child,
#settings button[data-action="players"] {
    border-top: 1px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
#settings button:last-child,
#settings button[data-action="world"] {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
#settings button[data-action="logout"] {
	background-color: var(--palette-tertiary);
	border-color: var(--palette-tertiary-dark);
	color: var(--palette-tertiary-contrast-text);
	margin-top: 0rem;
}
#settings button[data-action="logout"]:hover {
	background-color: var(--palette-tertiary-hover);
	color: var(--palette-tertiary-contrast-text);
}
#settings button[data-action="logout"]:active {
	background-color: var(--palette-tertiary-active);
	color: var(--palette-tertiary-contrast-text);
}
#module-management #importExportModal .export-options, 
#module-management #importExportModal .import-options {
	margin-left: 0px;
}
#module-management #importExportModal .modal-wrap {
	background-color: var(--palette-app-background);
}
#module-management #importExportModal button {
    background-color: var(--palette-success);
    border: 1px solid var(--palette-success-dark);
    color: var(--palette-success-contrast-text);
    border-radius: 0px;
}
#module-management #importExportModal button:hover {
    background-color: var(--palette-success-hover);
}
#module-management #importExportModal button:active,
#module-management #importExportModal button:focus  {
    background-color: var(--palette-success-active);
}
#module-management #importExportModal button:first-child {
	border-right-width: 0px;
}
#module-management #importExportModal .modal-wrap #exportToast {
	background-color: var(--palette-success-light);
	color: var(--palette-success-light-shaded-text);
}
