<div class="form-group">
	<label>{{name}}</label>
	<button type="button" data-property="{{property}}">
		<i class="fas fa-bars"></i>
		<label>Open Theming Menu</label>
	</button>
	<p class="notes">{{hint}}</p>
</div>