#lib-themer-dialog.sheet.journal-entry .journal-sidebar.collapsed .directory-header .header-search p {
    display: none;
}
#lib-themer-dialog.sheet.journal-entry .scrollable {
	padding-right: 0rem;
}
#lib-themer-dialog.sheet.journal-entry  .journal-sidebar:not(.collapsed) .scrollable > li {
	padding-right: 0.5rem;
}
#lib-themer-dialog.sheet.journal-entry .journal-entry-pages {
	margin: 0px;
	margin-bottom: 1rem;
}
#lib-themer-dialog.sheet.journal-entry .journal-entry-pages > .scrollable {
	padding: 0 0.5rem 1rem 1rem;
	padding-bottom: 0rem;
}

#lib-themer-dialog .journal-entry-content article.journal-entry-page form .form-group {
	border-bottom: 1px solid var(--color-border-light-primary);
	margin-bottom: 10px;
	padding-bottom: 10px;
}
#lib-themer-dialog .journal-entry-content article.journal-entry-page form .form-group .stylesheet-settings {
	flex-basis: 100%;
}
#lib-themer-dialog .journal-entry-content article.journal-entry-page form .form-group .stylesheet-settings .form-group {
	padding: 0px 1rem;
	padding-bottom: 10px;
}
#lib-themer-dialog .journal-entry-content article.journal-entry-page form .form-group .stylesheet-settings .form-group:first-of-type {
	border-top: 1px solid var(--color-border-light-primary);
	margin-top: 10px;
	padding-top: 10px;
}
#lib-themer-dialog .journal-entry-content article.journal-entry-page form .form-group .stylesheet-settings .form-group:last-of-type {
	border-bottom-width: 0px;
	margin: 0px;
	padding: 0px 1rem;
}
#lib-themer-dialog.sheet.journal-entry .journal-sidebar .action-buttons button.manage {
    margin: 0.5rem 0.5rem;
}
#lib-themer-dialog.sheet.journal-entry .journal-sidebar.collapsed .action-buttons button.manage {
    align-items: center;
	display: flex;
	flex: 0 0 30px;
	font-size: 0rem;
    justify-content: center;
	margin: 2px;
}
#lib-themer-dialog.sheet.journal-entry .journal-sidebar.collapsed .action-buttons button.manage i {
	font-size: var(--font-size-14);
}


#lib-themer-dialog input[type="color" i] {
    flex: 1 0 27px;
    margin-bottom: 10px;
	width: 100%;
}
#lib-themer-dialog input[type="color" i],
#lib-themer-dialog input[type="color" i]::-webkit-color-swatch-wrapper {
	padding: 0px;
}
#lib-themer-dialog button[data-action="reset"] {
	flex: 0 0 1px;
}
#lib-themer-dialog button[data-action="reset"] i {
	margin-right: 0px;
}
#lib-themer-dialog input[is="colorpicker-input"] + button[data-action="reset"] + input[type="range"] {
	flex-basis: 100%;
}
#lib-themer-dialog input[type="text" i][is="colorpicker-input"] {
    font-weight: 600;
    height: 30px;
    padding: 0px;
    text-align: center;
    text-transform: uppercase;
}
#lib-themer-dialog input[type="number" i] {
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	border-right-width: 0px;
	height: 28px;
	text-align: right;
}
#lib-themer-dialog input[type="number" i] + label {
	flex: 0;
    padding: 0 0.25rem;

	background: rgba(0, 0, 0, 0.05);
    color: var(--color-text-dark-primary);
    border: 1px solid var(--color-border-light-tertiary);
    border-radius: 3px;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
}
#lib-themer-dialog .form-fields.hide-suffix input[type="number" i] {
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	border-right-width: 1px; 
}
#lib-themer-dialog .form-fields.hide-suffix input[type="number" i] + label {
	display: none;
}
#lib-themer-dialog input[type="range" i] + input[type="number" i] {
	flex: 0 0 50px;
	margin-right: 0px;
}
#lib-themer-dialog .font-family-preview {
	background-color:  var(--color-border-light-1);
	border: 1px solid var(--color-border-light-2);
	color:  var(--color-text-dark-primary);
	flex-basis: 100%;
	margin: 10px;
	padding: 10px;
}
#lib-themer-dialog .font-family-preview p {
	margin: 0px;
	padding: 0px;
}

#lib-themer-dialog .picker_wrapper {
	flex-basis: 100%;
}
#lib-themer-dialog .layout_default .picker_sl,
#lib-themer-dialog .layout_default .picker_alpha .picker_slider {
	height: 200px;
}
#lib-themer-dialog .layout_default .picker_sl::before {
	padding-bottom: 200px;
}
#lib-themer-dialog ul.color-palette {
    display: flex;
	flex-basis: 100%;
	list-style: none;
    margin: 0px;
    padding: 0px;
}
#lib-themer-dialog ul.color-palette.hidden {
	display: none;
}
#lib-themer-dialog p.notes.hidden + ul.color-palette {
	margin-top: 10px;
}
#lib-themer-dialog ul.color-palette li {
    align-items: center;
	border: 1px solid var(--app-dialog-background-shaded);
	border-right-width: 0px;
    display: flex;
	flex: 1;
	flex-direction: column;
    height: 50px;
    justify-content: space-evenly;
	padding: 0px;
}
#lib-themer-dialog ul.color-palette li:last-of-type {
	border-right-width: 1px;
}

#lib-themer-dialog div.form-group[data-type="background"] .form-fields {
	flex-basis: 100%;
}
#lib-themer-dialog div.form-group[data-type="background"] .form-fields > * {
	border-radius: 0px;
	border-style: solid;
	border-width: 1px;
	border-right-width: 0px;
	margin: 0px;
	min-height: 30px;
}
#lib-themer-dialog div.form-group[data-type="background"] .form-fields > *:first-child {
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	flex: 0;
}
#lib-themer-dialog div.form-group[data-type="background"] .form-fields > *:last-child {
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	border-right-width: 1px;
}


#font-config button[name="add-google=font"]:not(.hidden) ~ .form-group {
	display: none;
}



#lib-themer-presets-header,
#lib-themer-presets-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
#lib-themer-presets-header li {
    border-bottom: 1px solid var(--color-border-light-primary);
    font-size: var(--font-size-14);
    font-weight: 600;
}
#lib-themer-presets-list {
    max-height: 177px;
    overflow-y: auto;
}
#lib-themer-presets-list li {
    border-bottom: 1px solid var(--color-border-light-primary);
    display: flex;
    padding: 0.25rem 0px;
}
#lib-themer-presets-list li label {
    align-self: center;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#lib-themer-presets-list li button {
    border-radius: 0px;
    border-right-width: 0px;
    flex: 0 0 30px;
    margin: 0px;
    text-align: center;
}
#lib-themer-presets-list li button:first-of-type {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
#lib-themer-presets-list li button:last-of-type {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-right-width: 1px;
}
#lib-themer-presets-list li button i {
    margin: 0px;
}
input[name="lib-themer-preset-title"] {
	margin-bottom: 10px;
    width: 100%;
}