button, form button {
    background: var(--palette-secondary);
    border-color: var(--palette-secondary-dark);
	color: var(--palette-secondary-contrast-text);	
}
button:hover,
form button:hover {
    background: var(--palette-secondary-hover);
	box-shadow: none;
}
button:active, button.active, 
form button:active, form button:active {
    background: var(--palette-secondary-active);
	box-shadow: none;
}
.dialog .dialog-buttons button {
    border-color: var(--palette-secondary-dark);
}
.dialog .dialog-buttons button {
    background: var(--palette-secondary);
    border-color: var(--palette-secondary-dark);
	color: var(--palette-secondary-contrast-text);
	cursor: pointer;
}
.dialog .dialog-buttons button:hover {
    background: var(--palette-secondary-hover);
	color: var(--palette-secondary-hover-contrast-text);
}
.dialog .dialog-buttons button:active,
.dialog .dialog-buttons button:focus,
.dialog .dialog-buttons button.active {
    background: var(--palette-secondary-active);
	color: var(--palette-secondary-active-contrast-text);
}
.dialog .dialog-buttons button.default {
    background: var(--palette-primary);
    border-color: var(--palette-primary-dark);
	color: var(--palette-primary-contrast-text);	
}
.dialog .dialog-buttons button.default:hover {
    background: var(--palette-primary-hover);
	color: var(--palette-primary-hover-contrast-text);
}
.dialog .dialog-buttons button.default:active,
.dialog .dialog-buttons button.default:focus,
.dialog .dialog-buttons button.default.active {
    background: var(--palette-primary-active);
	color: var(--palette-primary-active-contrast-text);
}

#controls .scene-control, #controls .control-tool {
	background: var(--palette-primary-active);
	border-color: var(--palette-primary-dark);
	box-shadow: none;
	color: var(--palette-primary-shaded-text);
}
#controls .scene-control:hover, 
#controls .control-tool:hover {
	background: var(--palette-primary-hover);
	border-color: var(--palette-primary-dark);
	box-shadow: 0px 0px 5px var(--palette-dark);
}
#controls .scene-control:active,
#controls .scene-control:focus,
#controls .scene-control.active, 
#controls .control-tool:active,
#controls .control-tool:focus, 
#controls .control-tool.active {
	background: var(--palette-primary-hover);
	border-color: var(--palette-primary-dark);
	box-shadow: 0 0 10px var(--palette-primary-dark);
	color: var(--palette-primary-contrast-text);
}
#sidebar-tabs > .item:hover {
	background: var(--palette-primary-hover);
	box-shadow: none;
	color: var(--palette-primary-contrast-text);
	text-shadow: none;
}
#sidebar-tabs > .item.active {
	background: var(--palette-primary-active);
	border-color: var(--palette-primary-dark);
	box-shadow: none;
	color: var(--palette-primary-contrast-text);
}

.chat-message {
	background-color: var(--palette-dialog-background);
    background-image: var(--palette-dialog-background-image);
    background-blend-mode: var(--palette-dialog-background-image-blend-mode, normal);
    backdrop-filter: blur(8px);
	border-color: var(--palette-dialog-background-dark);
    color: var(--palette-dialog-background-contrast-text);
}
.chat-message .message-header {
    color: var(--palette-dialog-background-contrast-text);
}
.chat-message.ic .message-header .message-sender {
    font-weight: 600;
}
.chat-message .message-header .flavor-text, .chat-message .message-header .whisper-to {
    color: var(--palette-dialog-background-shaded-text);
}
.chat-message.ic .message-content {
	font-style: italic;
	padding: 0.5rem;
}

.dice-roll .dice-formula, 
.dice-roll .dice-total {
	border-color: var(--palette-dialog-background-dark);
	border-radius: 0px;
	border-top-width: 0px;
	box-shadow: none;
    height: auto;
	margin: 0px;
	padding: 0.5rem 0.75rem;
	cursor: pointer;
}
.dice-roll .dice-formula {
	border-top-width: 2px;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}
.dice-roll .dice-total {
	border-bottom-left-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}
.dice-roll .dice {
	border-left: 1px solid var(--palette-dialog-background-dark);
	border-right: 1px solid var(--palette-dialog-background-dark);
}
.dice-tooltip .part-header {
	border-bottom-color: var(--palette-dialog-background-dark);
}
.dice-tooltip .part-header .part-formula {
	padding: 0.25rem;
}
.dice-tooltip .part-header .part-total {
    align-items: center;
	background-color: var(--palette-primary);
	border-color: var(--palette-primary-dark);
	color: var(--palette-primary-contrast-text);
	border-radius: 0px;
	display: flex;
}
.dice-tooltip .dice-rolls {
	margin: 0px;
	padding: 0.25rem;
}


